.footer__description {
  max-width: 620px;
  width: 100%;
  margin: 30px 0 60px;
  @include font(500, 16px, 24px, #4F6354);

  @include media(1279px) {
    max-width: 420px;
  }

  @include media(699px) {
    @include font(400, 12px, 22px, #4F6354);
    margin: 26px 0 44px;
    padding: 0 10px 0 0;
    box-sizing: border-box;
  }
}