.septic-card__subtitle {
  @include fontTitle(400, 18px, 24px, 1px, #006D3C);
  margin: 15px 0 15px 21px;
  padding: 0;

  @include media(1699px) {
    @include fontTitle(400, 17px, 24px, 1px, #006D3C);
  }

  @include media(1551px) {
    @include fontTitle(400, 16px, 20px, 0.4px, #006D3C);
    margin: 15px 0 15px 12px;
  }

  @include media(1279px) {
    @include fontTitle(400, 16px, 20px, 0.4px, #006D3C);
    margin: 15px 0 15px 21px;
  }
}