.install__gallery {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
  margin-bottom: 50px;

  @include media(1551px) {
    margin-bottom: 50px;
    margin-top: 30px;
  }

  @include media(1279px) {
    margin: 60px 0 50px 20px;
  }

  @include media(699px) {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
    margin: 20px 10px;
  }
}