.main-header__tver {
  position: absolute;
  right: 3%;
  margin-top: 420px;

  @include media(1551px) {
    right: 8%;
    margin-top: 380px;
  }

  @include media(1279px) {
    right: 1%;
    margin-top: 380px;
  }

  @include media(1050px) {
    right: 0;
    margin-top: 360px;
  }

  @include media(699px) {
    position: relative;
    right: 0;
    margin-top: 380px;
  }
}
