.content__background {
  position: absolute;
  width: 50%;
  min-height: 256px;
  border-bottom-right-radius: 26px;
  z-index: -1;
  left: 0;
  background-color: #F0F1EC;

  @include media(699px) {
    width: 50%;
    top: 300px;
    min-height: 106px;
  }
}