.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  max-width: 1600px;
  width: 100%;
  position: relative;

  @include media(1600px) {
    max-width: 1500px;
  }

  @include media(1401px) {
    max-width: 1230px;
  }
}