.services__cards {
  max-width: 750px;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;

  @include media(1050px) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
  }

  @include media(699px) {
    margin: 0 0 0 5%;
  }
}
