.main-header__advantage_position_tl {
  left: 15%;
  margin-top: -650px;

  @include media(1551px) {
    margin-top: -545px;
  }

  @include media(1279px) {
    left: 10%;
    margin-top: -480px;
  }

  @include media(1050px) {
    left: 0;
    margin-top: -450px;
  }
}
