.main-header__advantage_position_tl {
  left: 15%;
  margin-top: -650px;

  @include media(1401px) {
    margin-top: -545px;
  }

  @include media(1279px) {
    left: 10%;
    margin-top: -480px;
  }
}