.install__description {
  @include font (400, 16px, 24px, #4F6354);
  max-width: 610px;
  width: 100%;
  padding: 10px 0;

  @include media(1401px) {
    @include font (400, 14px, 20px, #4F6354);
    max-width: 510px;
    margin: 0;
  }
}