.footer__phone {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  @include font(400, 20px, 26px, #006D3C);
  text-decoration: none;

  @include media(1551px) {
    @include font(400, 18px, 34px, #006D3C);
  }

  @include media(1279px) {
    @include font(400, 16px, 28px, #006D3C);
  }

  @include media(699px) {
    @include font(400, 18px, 32px, #006D3C);
  }

  &:after {
    content: "";
    position: absolute;
    width: 160px;
    height: 1px;
    margin: 25px 0 0 55px;
    background-color: #4F6354;
    opacity: .4;

    @include media(1401px) {
      width: 140px;
      margin: 28px 0 0 52px;
    }

    @include media(1279px) {
      width: 125px;
    }

    @include media(699px) {
      margin: 28px 0 0 56px;
    }
  }
  &:before {
    content: url(../img/phone.svg);
    padding: 0 36px 0 4px;
    height: 16px;
    max-width: 16px;
    width: 100%;

    @include media(1401px) {
      padding: 0 32px 0 4px;
      height: 14px;
      max-width: 14px;
    }

    @include media(699px) {
      padding: 0 40px 0 4px;
    }
  }
}
