.gallery__title {
  @include fontTitle(400, 36px, 44px, 1px, #006D3C);
  max-width: 660px;
  padding: 50px 0;
  width: 100%;
  margin: 100px 0 0 88px;

  @include media(1551px) {
    @include fontTitle(400, 30px, 38px, 1px, #006D3C);
    margin: 70px 0 0 78px;
    max-width: 660px;
  }

  @include media(1279px) {
    @include fontTitle(400, 26px, 32px, 1px, #006D3C);
    margin: 35px 0 0 65px;
    max-width: 660px;
  }

  @include media(1050px) {
    @include fontTitle(400, 24px, 32px, 0.1px, #006D3C);
    margin: 70px 0 0 60px;
    padding: 30px 0;
    max-width: 660px;
  }

  @include media(699px) {
    @include fontTitle(400, 18px, 24px, 1px, #006D3C);
    margin: 80px 0 0 38px;
    max-width: 90%;
    box-sizing: border-box;
    padding: 10px 0;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
  }

  &:after {
    content: '';
    display: block;
    height: 1px;
    max-width: 192px;
    width: 100%;
    margin-top: 10px;
    margin-left: 40px;
    background: #666666;

    @include media(1401px) {
      margin-top: 8px;
      margin-left: 40px;
    }

    @include media(1279px) {
      margin-top: 4px;
      margin-left: 40px;
    }

    @include media(699px) {
      margin-top: 4px;
      margin-left: 10px;
      max-width: 150px;
    }
  }

  &:before {
    content: 'Ф';
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    min-height: 122px;
    position: absolute;
    margin-left: -88px;
    margin-top: -60px;
    max-width: 105px;
    width: 100%;
    background: #DCE5DB;
    border-radius: 6px;
    @include fontTitle(700, 96px, 112px, 1px, #006D3C);

    @include media(1401px) {
      @include fontTitle(700, 80px, 100px, 1px, #006D3C);
      margin-left: -78px;
    }

    @include media(1279px) {
      @include fontTitle(700, 70px, 90px, 1px, #006D3C);
      margin-left: -65px;
      margin-top: -50px;
      max-width: 85px;
      min-height: 100px;
    }

    @include media(1050px) {
      @include fontTitle(700, 64px, 75px, 1px, #006D3C);
      margin-left: -60px;
      margin-top: -41px;
      max-width: 72px;
      min-height: 84px;
    }

    @include media(699px) {
      @include fontTitle(700, 48px, 56px, 1px, #006D3C);
      margin-left: -38px;
      margin-top: -27px;
      max-width: 44px;
      min-height: 55px;
    }
  }
}
