.install-steps__icon {
  max-width: 86px;
  width: 100%;
  min-height: 86px;

  @include media(1401px) {
    max-width: 82px;
    min-height: 82px;
  }

  @include media(1279px) {
    max-width: 68px;
    min-height: 68px;
  }
}