.callback-form__comment {
  border-radius: 6px;
  margin: 0 0 35px;
  max-width: 355px;
  width: 100%;
  min-height: 153px;
  box-sizing: border-box;
  padding: 25px;
  @include font(400, 20px, 28px, #4F6354);
  background-color: #FBFDF8;
  border: 0;
  font-family: inherit;
  font-size: 20px;

  @include media(1551px) {
    max-width: 340px;
    min-height: 52px;
    font-size: 18px;
  }

  @include media(699px) {
    max-width: 100%;
    @include font(500, 16px, 24px, #4F6354);
    margin: 10px 0 20px;
    font-size: 16px;
    min-height: 130px;
  }

  &:focus {
    border: 2px solid #4F6354;
    outline: 0;
    outline-offset: 0;
  }
}