.top-header__phone {
  @include font(400, 24px, 32px, #006D3C);
  text-decoration: none;
  text-align: right;
  max-width: 340px;
  width: 100%;
  transition: .5s;
  &:hover {
    color: #4F6354;
  }

  @include media(1401px) {
    max-width: 260px;
    @include font(400, 22px, 28px, #006D3C);
  }
}