.services {
  display: grid;
  grid-template-rows: 256px 315px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  height: 100%;

  @include media(1551px) {
    grid-template-rows: 256px 260px 1fr;
  }

  @include media(1279px) {
    grid-template-rows: 230px 240px 1fr;
  }

  @include media(1050px) {
    grid-template-rows: 240px 200px 377px 210px;
    grid-template-columns: 1fr;
  }

  @include media(699px) {
    grid-template-rows: 100px 240px 1fr;
    grid-template-columns: 1fr;
    position: relative;
  }
}
