.tver__button {
  max-width: 164px;
  width: 100%;
  min-height: 42px;
  background-color: #006D3C;
  border-radius: 6px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
}