.septic-card__item {
  margin: 5px 0 0 0;
  padding: 0 0 0 20px;

  @include media(1551px) {
    padding: 0 0 0 12px;
  }

  @include media(1279px) {
    padding: 0 0 0 21px;
  }

  @include media(699px) {
    padding: 0 0 0 15px;
    @include font(400, 10px, 14px, #4F6354);
  }

  &:before {
    content: url('../img/ellipse.svg');
    position: absolute;
    margin-left: -20px;
    padding: 0 4px 4px;
    height: 16px;
    max-width: 16px;
    width: 100%;

    @include media(699px) {
      margin-left: -17px;
      padding: 1px 4px 3px;
    }
  }
}