.septic-card__item {
  margin: 5px 0 0 0;
  padding: 0 0 0 20px;
  &:before {
    content: url('../img/ellipse.svg');
    position: absolute;
    margin-left: -20px;
    padding: 0 4px 4px;
    height: 16px;
    max-width: 16px;
    width: 100%;
  }
}