.top-header__title {
  @include fontTitle(400, 28px, 36px, 1px, #00210E);
  max-width: 200px;
  width: 100%;
  margin: 0 0 0 15px;
  padding: 0;
  text-transform: uppercase;

  @include media(1699px) {
    @include fontTitle(400, 26px, 32px, 1px, #00210E);
  }

  @include media(1551px) {
    @include fontTitle(400, 22px, 28px, 1px, #00210E);
    max-width: 140px;
  }

  @include media(1279px) {
    @include fontTitle(400, 18px, 24px, 0.7px, #00210E);
    max-width: 90px;
  }

  @include media(699px) {
    @include fontTitle(500, 14px, 20px, 0.1px, #00210E);
    max-width: 110px;
    margin: 0 0 0 5px;
  }
}