.septic-card__sticker {
  position: absolute;
  max-width: 57px;
  right: 15px;
  top: 2px;
  width: 100%;
  min-height: 25px;
  padding-left: 4px;
  background-color: #DCE5DB;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font(500, 11px, 16px, #006D3C);
  letter-spacing: 1px;

  @include media(1551px) {
    max-width: 47px;
    min-height: 20px;
    @include font(500, 10px, 14px, #006D3C);
  }

  &:after {
    content: url('../img/sticker.svg');
    padding: 8px 4px 4px;
    height: 16px;
    max-width: 16px;
    width: 100%;

    @include media(1551px) {
      padding: 6px 4px 4px;
      height: 14px;
      max-width: 14px;
    }
  }
}