.services__description {
  padding: 0 45px 15px;
  margin: 0;
  box-sizing: border-box;
  @include font (400, 16px, 24px, #4F6354);

  @include media(1551px) {
    @include font (400, 14px, 22px, #4F6354);
    padding: 0 45px 10px;
  }

  @include media(1279px) {
    @include font (400, 14px, 22px, #4F6354);
    padding: 0 35px 10px;
  }

  @include media(699px) {
    @include font (400, 12px, 16px, #4F6354);
    padding: 10px 0 ;
  }
}