.install {
  display: grid;
  grid-template-rows: 300px 300px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  height: 100%;

  @include media(1401px) {
    grid-template-rows: 250px 250px 1fr;
  }

  @include media(1279px) {
    grid-template-rows: 200px 180px 1fr;
  }
}