.callback__background {
  position: absolute;
  width: 800px;
  min-height: 910px;
  border-radius: 26px 0 0 26px;
  z-index: -1;
  right: 0;
  background-color: #F0F1EC;
  margin: 40px 0 30px 0;

  @include media(1401px) {
    width: 600px;
    min-height: 810px;
  }
}