.main-header__advantage {
  position: absolute;
  @include font(400, 24px, 32px, #006D3C);
  text-decoration: none;
  text-align: center;
  max-width: 220px;
  width: 100%;
  @include media(1401px) {
    @include font(400, 20px, 26px, #006D3C);
    max-width: 200px;
  }
}