.dots {
  max-width: 40px;
  width: 100%;
  min-height: 11px;

  @include media(1401px) {
    max-width: 30px;
    width: 100%;
    min-height: 11px;
  }

  @include media(1279px) {
    max-width: 24px;
    min-height: 9px;
  }
}